:root{
    --orange-theme: rgb(241, 121, 22);
    --dark-yellow-theme: rgb(255, 198, 11);
    --light-yellow-theme: rgb(248, 232, 85);
    --brown-theme: #8a4900;
}



/* Default Stylings */
*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

input, button, textarea, select{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

p{
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}



/* Nav-Bar */

#navbar{
    background: var(--dark-yellow-theme);
    display: flex;
    justify-content: center;
    padding: 10px 10px 0px 10px;
}

.tabBtns{
    /* font-family: ; */
    font-size: 1.4rem;
    font-weight: 800;
    background: var(--orange-theme);
    padding: 10px 20px;
    margin: 15px 5px 0px 5px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.tabBtns:hover{
    background: var(--dark-yellow-theme);
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/lion-king-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




/* Main Page-Load Tab */

#homepage{
    /* background: var(--light-yellow-theme); */
    background-color: rgba(235, 235, 47, 0.575);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 60/40 */
    width: 60%;
    height: 90%;
    border-radius: 35px;
}

#homepage > div{
    background: var(--dark-yellow-theme);
    border: 12px var(--brown-theme) solid;
    width: 65%;
    padding: 20px;

}

#title{
    text-align: center;
    border-radius: 50px;
}

#hours ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

#location p{
    text-align: center;
}





/* Menu Page Tab */

#menu{
    /* background: var(--light-yellow-theme); */
    background-color: rgba(235, 235, 47, 0.575);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 60/40 */
    width: 60%;
    height: 90%; 
    border-radius: 35px;
}






/* contact Page Tab */

#contact{
    /* background: var(--light-yellow-theme); */
    background-color: rgba(235, 235, 47, 0.575);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 60/40 */
    width: 60%;
    height: 90%; 
    border-radius: 35px;
}









/* Footer */

footer{
    background: var(--dark-yellow-theme);
    text-align: center;
    padding: 10px;
}