:root{
    --orange-theme: rgb(241, 121, 22);
    --dark-yellow-theme: rgb(255, 198, 11);
    --light-yellow-theme: rgb(248, 232, 85);
    --brown-theme: #8a4900;
    --content-background: rgba(235, 235, 47, 0.575);
}

/* Default Stylings */

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

input, button, textarea, select{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

p{
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}


/* Body */

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(./images/lion-king-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}



/* Nav-Bar */

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar{
    background: var(--dark-yellow-theme);
    display: flex;
    justify-content: center;
    padding: 10px 10px 0px 10px;
}

.tabBtns{
    font-family: DynaPuff, cursive;
    font-size: 1.4rem;
    font-weight: 800;
    background: var(--orange-theme);
    padding: 10px 20px;
    margin: 15px 5px 0px 5px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.tabBtns:hover{
    background: var(--dark-yellow-theme);
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}




/* Main Page-Load Tab */

#homepage{
    background: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 60/40 */
    width: 60%;
    height: 90%;
    border-radius: 35px;
    margin: 60px 0px;
}

#homepage > div{
    background: var(--dark-yellow-theme);
    border: 12px var(--brown-theme) solid;
    width: 65%;
    padding: 20px;
}

#homepage h1{
    font-family: DynaPuff, cursive;
    border: 12px var(--brown-theme) solid;
    background: var(--dark-yellow-theme);
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 10px;
}

#homepage h2{
    font-family: DynaPuff, cursive;
    font-size: 1.6rem;
}

#homepage p,
#homepage li{
    font-family: Macondo;
    font-weight: 500;
}

#title{
    text-align: center;
    border-radius: 50px;
}

#hours ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

#location p{
    text-align: center;
}





/* Menu Page Tab */

#menu{
    background: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* 60/40 */
    width: 60%;
    border-radius: 35px;
    margin: 60px 0px;
    padding: 30px 0px;
}

#menu h1{
    font-family: DynaPuff, cursive;
    border: 12px var(--brown-theme) solid;
    background: var(--dark-yellow-theme);
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 10px;
}

.menuItems{
    padding: 20px;
    width: 60%;
    background: var(--dark-yellow-theme);
    border: 12px var(--brown-theme) solid;
}

#menu h2{
    font-family: DynaPuff, cursive;
    font-size: 2.5rem;
}

#menu h3{
    font-family: DynaPuff, cursive;
    font-size: 1.6rem;
}

.menuItems h4,
.menuItems p{
    font-family: Macondo;
}

.itemPicture{
    border: 5px var(--brown-theme) solid;
    height: 200px;
    aspect-ratio: 1/1;
}

.itemPicture img{
    height: 100%;
    aspect-ratio: 1/1;
}




/* Contact Page Tab */

#contact{
    background: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 60/40 */
    width: 60%;
    height: 90%; 
    border-radius: 35px;
    margin: 60px 0px;
}

#contact div{
    background: var(--dark-yellow-theme);
    border: 12px var(--brown-theme) solid;
    width: 60%;
    padding: 20px;
}

#contact h1{
    font-family: DynaPuff, cursive;
    background: var(--dark-yellow-theme);
    border: 12px var(--brown-theme) solid;
    text-align: center;
    border-radius: 50px;
    padding: 10px 30px;
}

#contact h3{
    font-family: DynaPuff, cursive;
    font-size: 1.4rem;
}

#contact p{
    font-family: Macondo;
    margin-left: 25px;
}





/* Footer */

footer{
    background: var(--dark-yellow-theme);
    text-align: center;
    padding: 10px;
}